.service {
    background-color: #f7f7f8;
    margin-bottom: 100px;
    @include max($xl) {
        margin-bottom: 50px;
    }
    @include max($sm) {
        margin-bottom: 30px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include max($lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include max($md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        &:not(:last-child) {
            border-right: 2px solid #fff;
        }
        &:last-child {
            @include max($lg) {
                border-right: 2px solid #fff;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        background-color: #f7f7f8;
        padding: 25px 40px 27px 27px;
        transition: background-color 0.3s ease-in;
        &:hover  {
            background-color: #fff;
            .service__icon {
                fill: $blue;
            }
            .service__name {
                color: $blue;
            }
        }
        @include max($xl) {
            padding: 20px 15px;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    &__icon {
        margin-right: 15px;
        fill: $global;
        transition: fill 0.3s ease-in;
        &--certificate {
            width: 37px;
            height: 40px;
        }
        &--metalworking {
            width: 40px;
            height: 47px;
        }
        &--test {
            width: 40px;
            height: 45px;
        }
        &--delivery {
            width: 40px;
            height: 40px;
        }
    }

    &__name {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.33;
        @include lineClamp;
        -webkit-line-clamp: 2;
        transition: color 0.3s ease-in;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        color: $grey;
        p {
            @include lineClamp;
            -webkit-line-clamp: 5;
        }
    }

   
}