
$global: #002946;
$bg: #e5e5e5;
$grey: #768189;
$dark-grey: #585858;
$blue: #005a8d;
$lite-blue: #eaeef0;


$xll: 1270;
$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$Ubuntu: 'Ubuntu', sans-serif;



