<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href="#">О компании</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">База знаний</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Новости</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">Доставка</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#">For suppliers</a>
        </li>
    </ul>
</nav>