.header {
    background-color: #fff;
    @include max($md) {
        position: relative;
    }

    &--active {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 144;
    }
    &__top {
        border-bottom: 1px solid $lite-blue;
        padding: 11px 0;
        &--active {
            display: none;
        }
        @include max($lg) {
            padding: 5px 0;
        }
    }

    &__email {
        margin-left: auto;
        outline: transparent;
        color: $grey;
        margin-right: 50px;
        transition: color 0.3s ease-in;
        &:hover {
            color: $blue;
        }
        &:focus {
            color: $global;
        }
        &:active {
            color: $dark-grey;
        }
        @include max($sm) {
            display: none;
        }
    }

    &__select {
        margin-right: 35px;
        @include max($md) {
            margin-right: 0;
        }
    }

    &__btn {
        background-color: $global;
        font-size: 13px;
        font-weight: 700;
        padding: 5px 20px;
        border-radius: 3px;
        outline: transparent;
        line-height: 2;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
        color: #fff;
        &:hover {
            background-color: $grey;
        }
        &:focus {
            background-color: $dark-grey;
        }
        &:active {
            background-color: rgba($global, 0.7);
        }
        @include max($md) {
            position: absolute;
            bottom: 4px;
            right: 110px;
        }
        @include max($sm) {
            bottom: 3px;
        }
        @include max($s) {
            right: 82px;
            padding: 5px 9px;
        }
    }

    &__catalog {
        display: flex;
        align-items: center;
        padding: 21px 50px 21px;
        border-right: 1px solid $lite-blue;
        border-left: 1px solid $lite-blue;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        cursor: pointer;
        @include max($lg) {
            padding: 10px;
        }
        @include max($md) {
            padding: 13px;
        }
        @include max($sm) {
            max-width: 95px;
            width: 100%;
            text-align: center;
            padding: 4px;
        }
    }

    &__menu {
        @include max($md) {
            z-index: 100;
            position: absolute;
            height: 100vh;
            background-color: #fff;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding-top: 0;
            transition: transform 0.4s ease-in;
            transform: translateX(-100%);
            .menu__list {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .menu__item {
                width: 95%;
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
            .menu__link {
                padding-top: 23px;
            }
        }    
        &--active {
            transition: transform 0.4s ease-in;
            transform: translateX(0%);
        }
    }

    &__burger {
        margin-right: 10px;
        @include max($lg) {
            margin-right: 5px;
        }
        @include max($sm) {
            display: none;
        }
    }

    &__burger-menu {
        display: none;
        &:hover {
            .burger__item {
                background-color: $blue;
            }
        }
        &:focus {
            .burger__item {
                background-color: $grey;
            }
        }
        &:active {
            .burger__item {
                background-color: $dark-grey;
            }
        }
        @include max($md) {
            display: block;
            margin-left: auto;
            margin-right: 11px;
            position: relative;
            z-index: 111;
        }
        @include max($s) {
            margin-right: 2px;
        }
        .burger__item {
            transition: transform 0.3s ease-in;
            &--active {
                transition: transform 0.3s ease-in;
                &:not(:last-child) {
                    margin-bottom: 0;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(1) {
                    transform: rotate(45deg);
                    transform-origin: 45%;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    transform-origin: 40%;
                }
            }
        }
    }

    &__basket {
        position: relative; 
        border-left: 1px solid $lite-blue;
        border-right: 1px solid $lite-blue;
        padding: 0 18px;
        @include max($lg) {
            padding: 0 10px;
        } 
        &::after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #fff;
            position: absolute;
            content: '';
            right: 13px;
            top: 16px;
            background-color: $blue;
            @include max($lg) {
                right: 6px;
                top: 4px;
            } 
            @include max($md) {
                top: 7px;
            } 
            @include max($sm) {
                top: 4px;
            } 
        }
        &:hover .header__icon-basket {
            fill: $blue;
        }
        &:focus .header__icon-basket {
            fill: $global;
        }
        &:active .header__icon-basket {
            fill: $dark-grey;
        }
    }

    &__icon-basket {
        width: 20px;
        height: 18px;
        fill: $grey;
        transition: fill 0.3s ease-in;
    }
}

