.modal {
    position: fixed;
    z-index: 155;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#00111d, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
    &--active {
        animation: modal 0.2s 0.2s linear forwards;
    }
    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: transform 0.5s ease-in;
        transform: perspective(600px) translate(0px, -100%) rotateX(75deg);
        &--active {
            transition: transform 0.5s ease-in;
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        }
    }

    &__content {
        max-width: 360px;
        width: 100%;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
    }

    &__close {
        width: 20.7px;
        right: -30px;
        top: 0;
        height: 20.7px;
        position: absolute;
        padding: 0;
        &:hover {
            .modal__icon {
                fill: $blue;
            }
        }
        &:focus {
            .modal__icon {
                fill: $global;
            }
        }
        &:active {
            .modal__icon {
                fill: $dark-grey;
            }
        }
    }

    &__icon {
        fill: #fff;
        width: 100%;
        height: 100%;
        transition: fill 0.3s ease-in;
    }

    &__subtitle {
        text-align: center;
        padding: 40px 10px 20px;
        font-weight: 700;
        font-size: 24px;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }

    &__info {
        padding: 15px 0;
        background-color: #f7f7f8;
    }

    &__name {
        display: block;
        max-width: 260px;
        width: 100%;
        margin: 0 auto 10px;
        line-height: 1.5;
        text-align: center;
    }

    &__coutner {
        display: flex;
        justify-content: center;
    }

    &__coutner-item {
        background-color: #f7f7f8;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 114px;
        background-color: #fff;
        border: 1px solid #eaeef0;
        border-radius: 3px;
        padding: 14px;
        &--small {
            min-width: 97px;
            margin-right: 10px;
        }
    }

    &__number,
    &__text {
        color: $grey;
        line-height: 1;
    }

    &__arrow {
        padding: 0;
        width: 16px;
        height: 12px;
        display: flex;
        &:hover {
            .modal__icon-plus,
            .modal__icon-minus {
                fill: $blue;
            }
        }
        &:active {
            .modal__icon-plus,
            .modal__icon-minus {
                fill: $dark-grey;
            }
        }
    }

    &__icon-plus,
    &__icon-minus {
        margin: auto;
        width: 10px;
        height: 6px;
        fill: $grey;
        transition: fill 0.3s ease-in;
    }

    &__form {
        padding: 20px 50px 40px 50px;
    }

    &__input {
        width: 100%;
        height: 48px;
        padding: 0 15px;
        background-color: #fff;
        border: 1px solid #eaeef0;
        border-radius: 3px;
        outline: transparent;
        margin-bottom: 15px;
        transition: background-color 0.3s ease-in;
        &--textarea {
            resize: none;
            padding-top: 11px;
        }
        &::placeholder {
            font-size: 13px;
            color: $grey;
            transition: color 0.3s ease-in;
        }
        &:focus {
            background-color: $grey;
            &::placeholder {
                color: #fff;
            }
        }
    }

    &__label {
        background-color: #fff;
        border: 1px dashed #eaeef0;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        margin-bottom: 18px;
        cursor: pointer;
        transition: border-color 0.3s ease-in;
        &:hover {
            border-color: $dark-grey;
            .modal__icon-file {
                fill: $dark-grey;
            }
            .modal__description {
                color: $dark-grey;
            }
        }
        &:active {
            border-color: $grey;
            .modal__icon-file {
                fill: $grey;
            }
            .modal__description {
                color: $grey;
            }
        }
    }

    &__file {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;
    }

    &__icon-file {
        width: 20px;
        height: 20px;
        fill: $blue;
        margin-right: 7px;
        transition: fill 0.3s ease-in;
    }

    &__description {
        font-weight: 500;
        font-size: 13px;
        color: $blue;
        transition: color 0.3s ease-in;
    }

    &__submit {
        padding: 10px 15px;
        line-height: 2;
        width: 100%;
        font-weight: 500;
        color: #fff;
        background-color: $global;
        transition: background-color 0.3s ease-in;
        font-size: 13px;
        &:hover {
            background-color: rgba($global, 0.7);
        }
        &:focus {
            background-color: rgba($global, 0.5);
        }
        &:active {
            background-color: $dark-grey;
        }
    }

    &::-webkit-scrollbar {
        width: 11px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba($global, 0.7);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $grey;
        border-radius: 5px;
    }

}


@keyframes modal {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

