<footer class="footer" id="footer">
    <h2 class="visually-hidden">Подвал сайта с контактами</h2>
    <div class="container">
        <ul class="footer__inner">
            <li class="footer__items footer__items--contact">
                <address class="footer__address">
                    <h3 class="footer__subtitle">Контакты</h3>
                    <a class="footer__phone" href="tel:+74952411757">+7 (495) 241-17-57</a>
                    <a class="footer__email" href="mailto:info@s355.ru">info@s355.ru</a>
                    <a class="footer__map" href="#">129110, г. Москва, пер. Напрудный, д. 10, стр. 2, ком. 4 
                        <span>инн 7702437740</span>
                    </a> 
                </address>
            </li>
            <li class="footer__items footer__items--catalog">
                <h3 class="footer__subtitle">Каталог продукции</h3>
                <div class="footer__holder">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link" href="#">Балка двутавровая</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Балка тавровая</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Швеллер</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Уголок</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Круг</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Квадрат</a>
                        </li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link" href="#">Проволока</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Труба профильная</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Фитинги</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Запорная арматура</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Рельсы</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Рельсовый крепеж</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="footer__items footer__items--navigation">
                <nav class="menu footer__menu">
                    <h3 class="footer__subtitle">Навигация</h3>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">О компании</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">База знаний</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Новости</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Доставка</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">For suppliers</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="footer__items footer__items--callback">
                <h3 class="footer__subtitle">Заказ звонка</h3>
                <div class="footer__text">
                    <p>
                        Введите Ваш контактный телефон и наши менеджеры свяжутся в ближайшее время
                    </p>
                </div>
                <form class="footer__form" action="#">
                    <label class="visually-hidden" for="tel">Текстовое поля для ввода телефона</label>
                    <input class="footer__input" id="tel" type="tel" name="tel" placeholder="Ваш номер" required>
                    <button class="footer__submit btn-reset" type="submit">Отправить</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="footer__copy">
        <div class="container">
            <p class="footer__description">&copy; 2022, ООО «Поставщик металлопроката S355»</p>
        </div>
    </div>
</footer>











